/*
 * API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.openapitools.client.model.ModelInvocation;
import org.openapitools.client.model.ModelResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class AutomationApiV10PredictionGenericApi {
    private ApiClient localVarApiClient;

    public AutomationApiV10PredictionGenericApi() {
        this(Configuration.getDefaultApiClient());
    }

    public AutomationApiV10PredictionGenericApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for postPredictionService
     * @param payload  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Category successfully created. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call postPredictionServiceCall(ModelInvocation payload, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = payload;

        // create path and map variables
        String localVarPath = "/automation/api/v1.0/prediction/generic/";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call postPredictionServiceValidateBeforeCall(ModelInvocation payload, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'payload' is set
        if (payload == null) {
            throw new ApiException("Missing the required parameter 'payload' when calling postPredictionService(Async)");
        }
        

        okhttp3.Call localVarCall = postPredictionServiceCall(payload, _callback);
        return localVarCall;

    }

    /**
     * Computes a new prediction
     * 
     * @param payload  (required)
     * @return ModelResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Category successfully created. </td><td>  -  </td></tr>
     </table>
     */
    public ModelResponse postPredictionService(ModelInvocation payload) throws ApiException {
        ApiResponse<ModelResponse> localVarResp = postPredictionServiceWithHttpInfo(payload);
        return localVarResp.getData();
    }

    /**
     * Computes a new prediction
     * 
     * @param payload  (required)
     * @return ApiResponse&lt;ModelResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Category successfully created. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ModelResponse> postPredictionServiceWithHttpInfo(ModelInvocation payload) throws ApiException {
        okhttp3.Call localVarCall = postPredictionServiceValidateBeforeCall(payload, null);
        Type localVarReturnType = new TypeToken<ModelResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Computes a new prediction (asynchronously)
     * 
     * @param payload  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Category successfully created. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call postPredictionServiceAsync(ModelInvocation payload, final ApiCallback<ModelResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = postPredictionServiceValidateBeforeCall(payload, _callback);
        Type localVarReturnType = new TypeToken<ModelResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
